In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:/stats project/rawdata_csv/big5_league_sca.csv')

In [3]:
df.columns

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', '90s',
       'SCA', 'SCA90', 'PassLive', 'PassDead', 'Drib', 'Sh', 'Fld', 'Def',
       'GCA', 'GCA90', 'PassLive.1', 'PassDead.1', 'Drib.1', 'Sh.1', 'Fld.1',
       'Def.1', 'Matches', '-9999'],
      dtype='object')

In [6]:
df = df.drop(['Rk','Nation', 'Pos', 'Comp', 'Age', 'Born', 'PassDead', 'Sh', 'Fld', 'Def',
       'GCA', 'GCA90', 'PassLive.1', 'PassDead.1', 'Drib.1', 'Sh.1', 'Fld.1',
       'Def.1', 'Matches', '-9999'],axis=1)

In [7]:
df

                    Player           Squad   90s  SCA  SCA90  PassLive  Drib
0         Lautaro Martínez           Inter  25.4   76   3.00        47     3
1       Lorenzo Pellegrini            Roma  25.4  135   5.31        54     9
2            Mohamed Salah       Liverpool  30.7  133   4.33        93    21
3            Kylian Mbappé       Paris S-G  33.6  172   5.12       107    28
4               Sadio Mané       Liverpool  31.3   97   3.10        67     5
...                    ...             ...   ...  ...    ...       ...   ...
2916  Nathan Young-Coombes       Brentford   0.0    0   0.00         0     0
2917           Luca Zidane  Rayo Vallecano   7.2    0   0.00         0     0
2918  Christoph Zimmermann    Norwich City   1.7    0   0.00         0     0
2919        Banhie Zoukrou          Troyes   0.9    0   0.00         0     0
2920           Petar Zovko          Spezia   0.3    0   0.00         0     0

[2921 rows x 7 columns]

In [8]:
df.to_csv('D:/stats project/cleandata_csv/clean_sca.csv')